body {
    background-color: orange;
}

h1 {
    text-align: center;
}

img {
    width: 300px;
    margin: 30px;
    border: 5px solid yellow;
    border-radius: 20px;
    transition: 0.5s;
}

img:hover {
    transform: scale(1.1);
}